---
import { CollectionEntry, getCollection } from "astro:content";
import Rainbow from "@components/Rainbow.astro";
import Layout from "@components/Layout.astro";

export async function getStaticPaths() {
  const eventos = await getCollection("eventos");
  return eventos.map((evento) => ({
    params: { slug: evento.slug },
    props: evento,
  }));
}

type Props = CollectionEntry<"eventos">;

const evento = Astro.props;
const { Content } = await evento.render();
---

<Layout>
  <Rainbow>{evento.data.title}</Rainbow>
  <section>
    <Content />
  </section>
</Layout>
