<h1 class="title">
  <ul class="c-rainbow">
    {
      ["white", "orange", "red", "violet", "blue", "green", "yellow"].map(
        (color, i) => (
          <li
            id={`rainbow${color}`}
            class={`c-rainbow__layer c-rainbow__layer--${color}`}
          >
            <h1
              class="title"
              style={{ marginLeft: `${i * 10}px`, opacity: (10 - i) / 10 }}
            >
              <slot />
            </h1>
          </li>
        )
      )
    }
  </ul>
</h1>
